services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    networks:
      - appnet

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    networks:
      - appnet

networks:
  appnet:
